---
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.astro';
import NavBar from '../components/NavBar.astro';
---

<script>
	const gridElements = document.querySelectorAll('.grid-element') as NodeListOf<HTMLElement>;
	gridElements.forEach((element) => {
	    element.addEventListener('mousemove', (e) => {
	        const rect = element.getBoundingClientRect();
	        const x = e.clientX - rect.left;
	        const y = e.clientY - rect.top;
	        const centerX = rect.width / 2;
	        const centerY = rect.height / 2;
	        const rotateX = (centerY - y) / 30;
	        const rotateY = (x - centerX) / 30;
	        element.style.transform = `rotateX(${rotateX}deg) rotateY(${rotateY}deg)`;
	    });
	    element.addEventListener('mouseleave', () => {
	        element.style.transform = 'rotateX(0deg) rotateY(0deg)';
	    });
	});

	const img = document.querySelector('main > img') as HTMLImageElement;
	document.addEventListener('scroll', () => {
		const y = window.scrollY / window.innerHeight;
		img.style.transform = `translateY(-${y * 100}px)`;
	});

	const light = document.querySelector('.light') as HTMLElement;
	document.addEventListener('mousemove', (e) => {
		const x = e.clientX / window.innerWidth;
		const y = e.clientY / window.innerHeight;
		light.style.background = `radial-gradient(circle at ${x * 100}% ${y * 100}%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 20%)`;
	});
</script>

<Layout title="Portfolio">
	<main id="home">
		<img src="images/background.jpg" alt="">
		<div class="overlay"></div>
		<div class="light"></div>
		<NavBar />
		<div class="space-start">
			<h1>About me</h1>
			<p>My name is Borys and I am from Poland. I enjoy creating websites, games and useful programs.</p>
		</div>
		<!-- <div class="space">
			<h1>I work with</h1>
			<ul class="link-card-grid">
			</ul>
		</div> -->
		<div class="space-middle">
			<h1 id="projects">My projects</h1>
			<div class="grid">
				<Project
					title="Borufi"
					date="June 2023"
					date="January 2024"
					img="/images/Borufi/main.png"
					href="https://github.com/lis531/borufi"
					hrefTryOut="https://borufi.netlify.app"
				/>
				<Project
					title="SchoolProjects"
					date="2022 - 2024"
					img="/images/SchoolProjects/main.png"
					href="https://github.com/lis531/schoolProjects"
					hrefTryOut='https://lis531.github.io/schoolProjects'
				/>
				<Project
					title="TicTacToe"
					date="November 2024"
					img="/images/TicTacToe/main.png"
					href="https://github.com/lis531/Tic-tac-toe"
					hrefTryOut='https://lis531.vercel.app'
				/>
				<Project
					title="TechNews"
					date="June 2023"
					img="/images/TechNews/main.png"
					href="https://github.com/lis531/TechNews"
					hrefTryOut='https://lis531.github.io/TechNews'
				/>
			</div>
		</div>
		<div class="space-end">
			<h1>Contact</h1>
			<div class="contact" id="contact">
				<a href="https://x.com/Lisu22361857">Twitter</a>
				<a href="mailto:lisuzastepczy@gmail.com">Email</a>
				<a href="https://github.com/lis531/">Github</a>
			</div>
		</div>
		<footer>
			Copyright © 2024 | Borys Gajewski | All Rights Reserved
		</footer>
	</main>
</Layout>

<style>
	html {
		scroll-behavior: smooth;
		scrollbar-width: thin;
		scrollbar-gutter: stable;
		scrollbar-color: rgb(255, 255, 255) rgba(0, 0, 0, 0);
	}
	body {
		margin: 0;
		padding: 0;
	}
	main {
		color: white;
		font-size: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	main > img {
    	position: fixed;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    	/* object-fit: cover; */
    	z-index: -100;
    	filter: brightness(0.3);
	}
	.overlay {
	    position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    pointer-events: none;
	    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1));
	    z-index: -99;
	}
	.light {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		z-index: -98;
		background: rgba(0, 0, 0, 0.8);
	}
	h1 {
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.grid {
		display: grid; 
  		grid-template-columns: repeat(auto-fit, minmax(10ch, 1fr));
		max-width: 1200px;
  		gap: 1em 1em; 
  		grid-template-areas: 
  		  	"Borufi Borufi Borufi SchoolProjects SchoolProjects"
  		  	"TicTacToe TicTacToe TechNews TechNews TechNews"
	}
	@media screen and (max-width: 600px) {
		.grid {
			grid-template-areas: 
				"Borufi"
				"SchoolProjects"
				"TechNews"
				"TicTacToe";
			grid-template-rows: repeat(4, 1fr);
			margin: 0 3px;
		}
		.space-end {
			padding: 25vh 0 !important;
		}
	}
	.contact {
		display: flex;
		justify-content: center;
		gap: 5vw;
		flex-wrap: wrap;
	}
	.contact > a {
		text-decoration: none;
		color: white;
		border: 2px solid rgba(72, 72, 72, 1);
		border-radius: 90pt;
		padding: 0.5rem 5rem;
		text-align: center;
		width: 120px;
	}
	.space-middle {
		padding-top: 20vh;
	}
	#projects { 
		padding-top: 15vh;
	}
	.space-start {
		padding-top: 35vh;
		width: 60%;
	}
	.space {
		padding-top: 50vh;
	}
	.space-end {
		padding: 40vh 0;
	}
	footer {
		text-align: center;
		color: white;
		font-size: 24px;
		font-family: Gloock, serif;
		margin-bottom: 1rem;
	}
	@media screen and (max-width: 600px) {
		.space-start {
			width: 90%;
		}
	}
</style>