---
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.astro';
import NavBar from '../components/NavBar.astro';
---

<!-- <script>
	const grid = document.querySelector('.grid');
	grid.addEventListener('mousemove', (e) => {
		const gridElement = e.target.closest('.grid-element');
		if (!gridElement) return;
		
		// Calculate the mouse position relative to the grid element
		const rect = gridElement.getBoundingClientRect();
		const xPos = e.clientX - rect.left;
		const yPos = e.clientY - rect.top;
		
		// Set CSS variables for the position of the gradient
		gridElement.style.setProperty('--xPos', `${xPos}px`);
		gridElement.style.setProperty('--yPos', `${yPos}px`);
	});
</script> -->

<Layout title="Portfolio">
	<main id="home">
		<NavBar />
		<div class="space-start">
			<h1>About me</h1>
			<p>My name is Borys and I am from Poland. I enjoy creating websites, games and useful programs.</p>
		</div>
		<!-- <div class="space">
			<h1>I work with</h1>
			<ul class="link-card-grid">
			</ul>
		</div> -->
		<div class="space-middle">
			<h1 id="projects">My projects</h1>
			<div class="grid">
				<Project
					title="Borufi"
					date="June 2023"
					img="/images/borufi.png"
					href="https://github.com/lis531/borufi"
				/>
				<Project
					title="SchoolProjects"
					date="2022 - now"
					img="/images/schoolProjectBg.png"
					href="https://github.com/lis531/schoolProjects"
				/>
				<Project
					title="SnakeTheGame"
					date="N/A"
					img="/images/snake.png"
					href="https://github.com/lis531/borufi"
				/>
				<Project
					title="TechNews"
					date="June 2023"
					img="/images/techNewsBg.png"
					href="https://github.com/lis531/borufi"
				/>
			</div>
		</div>
		<div class="space-end">
			<h1>Contact</h1>
			<div class="contact" id="contact">
				<a href="https://x.com/Lisu22361857">Twitter</a>
				<a href="mailto:lisuzastepczy@gmail.com">Email</a>
				<a href="https://github.com/lis531/">Github</a>
			</div>
		</div>
		<footer>
			Copyright © 2024 | Borys Gajewski | All Rights Reserved
		</footer>
	</main>
</Layout>

<style>
	:root {
		--xPos: 0;
		--yPos: 0;
	}
	html {
		scroll-behavior: smooth;
		scrollbar-width: thin;
		scrollbar-color: rgb(255, 255, 255) rgba(0, 0, 0, 0);
	}
	body {
		margin: 0;
		padding: 0;
	}
	main {
		color: white;
		font-size: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	h1 {
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.grid {
		display: grid; 
  		grid-template-columns: repeat(auto-fit, minmax(10ch, 1fr));
		max-width: 1200px;
  		gap: 1em 1em; 
  		grid-template-areas: 
  		  	"Borufi Borufi Borufi SchoolProjects SchoolProjects"
  		  	"SnakeTheGame SnakeTheGame TechNews TechNews TechNews"
	}
	@media screen and (max-width: 600px) {
		.grid {
			grid-template-areas: 
				"Borufi"
				"SchoolProjects"
				"TechNews"
				"SnakeTheGame";
			grid-template-rows: repeat(4, 1fr);
			margin: 3px;
		}
	}
	.contact {
		display: flex;
		justify-content: center;
		gap: 5vw;
		flex-wrap: wrap;
	}
	.contact > a {
		text-decoration: none;
		color: white;
		border: 2px solid rgba(72, 72, 72, 1);
		border-radius: 90pt;
		padding: 0.5rem 5rem;
		text-align: center;
		width: 120px;
	}
	.space-middle {
		padding-top: 20vh;
	}
	#projects { 
		padding-top: 15vh;
	}
	.space-start {
		padding-top: 35vh;
		width: 60%;
	}
	.space {
		padding-top: 50vh;
	}
	.space-end {
		padding: 40vh 0;
	}
	footer {
		text-align: center;
		color: white;
		font-size: 24px;
		font-family: Gloock, serif;
		margin-bottom: 1rem;
	}
	@media screen and (max-width: 600px) {
		.space-start {
			width: 90%;
		}
	}
</style>
<style is:global>
	/* .grid-element {
		position: relative;
		background: none;
	}
	.grid-element:hover {
		background: radial-gradient(
			circle at var(--xPos) var(--yPos),
			rgba(136, 58, 234, 0.5) 0%,
			rgba(136, 58, 234, 0) 30%
		);
		background-repeat: no-repeat;
	} */
</style>