---
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.astro';
import NavBar from '../components/NavBar.astro';
import MySkills from '../components/MySkills.astro';
---

<script>
	const observer = new IntersectionObserver((entries) => {
		entries.forEach((entry) => {
			if (entry.isIntersecting && !entry.target.classList.contains('animated')) {
				entry.target.animate([
					{ opacity: 0, transform: 'translateY(100px)' },
					{ opacity: 1, transform: 'translateY(0)' }
				], {
					duration: 500,
					easing: 'ease-out',
					fill: 'forwards'
				}).finished.then(() => {
					entry.target.classList.add('animated');
				});
			}
		});
	});

	const images = document.querySelectorAll('.hidden');
    images.forEach((img) => {
        img.addEventListener('load', () => {
            img.animate([
                { opacity: 0, filter: 'blur(10px)' },
                { opacity: 1, filter: 'blur(1px)' }
            ], 500).finished.then(() => {
                img.classList.remove('hidden');
            });
        });
    });

	const gridElements = document.querySelectorAll('.grid-element') as NodeListOf<HTMLElement>;
	gridElements.forEach((element) => {
		observer.observe(element);
	});

	const animateElements = document.querySelectorAll('.animate') as NodeListOf<HTMLElement>;
	animateElements.forEach((element) => {
		observer.observe(element);
	});

	const light = document.querySelector('.light') as HTMLElement;
	document.addEventListener('mousemove', (e) => {
		const x = e.clientX / window.innerWidth;
		const y = e.clientY / window.innerHeight;
		light.style.background = `radial-gradient(circle at ${x * 100}% ${y * 100}%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 20%)`;
	});

	const parallax = document.querySelector('.parallax') as HTMLElement;
	document.addEventListener('scroll', () => {
        const scrollPosition = window.scrollY;
        const yPos = scrollPosition * 0.3;
        parallax.style.backgroundPosition = `center ${-yPos}px`;
    });
</script>

<Layout title="Portfolio">
	<main id="home">
		<div class="parallax"></div>
		<div class="overlay"></div>
		<div class="light"></div>
		<NavBar />
		<div class="space-start">
			<h1 class="animate">About me</h1>
			<p class="animate">My name is Borys Gajewski, and I’m a developer from Poland. I create websites, small games, and other programs.</p>
		</div>
		<h1 class="space-middle animate">My Skills</h1>
		<MySkills
			skills={[
				{ logo: '/images/Logos/HTML5.svg', alt: "HTML5", level: 95 },
				{ logo: '/images/Logos/CSS.svg', alt: "CSS", level: 90 },
				{ logo: '/images/Logos/JS.svg', alt: "JS", level: 85 },
				{ logo: '/images/Logos/TS.svg', alt: "TS", level: 75 },
				{ logo: '/images/Logos/React.svg', alt: "React", level: 75 },
				{ logo: '/images/Logos/Vue.svg', alt: "Vue", level: 40 },
				{ logo: '/images/Logos/Astro.svg', alt: "Astro", level: 65 },
				{ logo: '/images/Logos/Firebase.svg', alt: "Firebase", level: 50 },
				{ logo: '/images/Logos/Python.svg', alt: "Python", level: 35 },
				{ logo: '/images/Logos/CPP.svg', alt: "CPP", level: 20 },
				{ logo: '/images/Logos/Csharp.svg', alt: "Csharp", level: 30 },
				{ logo: '/images/Logos/Java.svg', alt: "Java", level: 5 },
				{ logo: '/images/Logos/Unity.svg', alt: "Unity", level: 50 },
				{ logo: '/images/Logos/Unreal.svg', alt: "Unreal", level: 1 },
				{ logo: '/images/Logos/Figma.svg', alt: "Figma", level: 70 }
			]}
		/>
		<h1 id="projects">My projects</h1>
		<div class="grid">
			<Project
				title="Borufi"
				description='It is my own music library (AKA Spotify).'
				date="June 2023"
				date="January 2024"
				img="/images/Borufi/main.png"
				href="https://github.com/lis531/borufi"
				hrefTryOut="https://borufi.netlify.app"
			/>
			<Project
				title="SchoolProjects"
				description='Contains some of my smaller school projects yet when combined it is big enough to upload here.'
				date="2022 - 2024"
				img="/images/SchoolProjects/main.png"
				href="https://github.com/lis531/schoolProjects"
				hrefTryOut='https://lis531.github.io/schoolProjects'
			/>
			<Project
				title="TicTacToe"
				description='Simple tic-tac-toe game made using Vue and Vite.'
				date="November 2024"
				img="/images/TicTacToe/main.png"
				href="https://github.com/lis531/Tic-tac-toe"
				hrefTryOut='https://lis531.vercel.app'
			/>
			<Project
				title="TechNews"
				description='It is website created in js that fetches news from www.wired.com and lets you order them or select certain categories. Made as a school project.'
				date="June 2023"
				img="/images/TechNews/main.png"
				href="https://github.com/lis531/TechNews"
				hrefTryOut='https://lis531.github.io/TechNews'
			/>
		</div>
		<div class="space-end">
			<h1 class="animate">Contact</h1>
			<div class="contact" id="contact">
				<a class="animate" href="https://x.com/Lisu22361857">Twitter</a>
				<a class="animate" href="mailto:borys.gajewski7@gmail.com">Email</a>
				<a class="animate" href="https://github.com/lis531/">Github</a>
			</div>
		</div>
		<footer>
			{new Date().getFullYear()} &copy; Borys Gajewski
		</footer>
	</main>
</Layout>

<style>
	html {
		scroll-behavior: smooth;
		scrollbar-width: thin;
		scrollbar-gutter: stable;
		scrollbar-color: rgb(255, 255, 255) rgba(0, 0, 0, 0);
	}
	body {
		margin: 0;
		padding: 0;
	}
	main {
		color: white;
		font-size: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.parallax {
		position: fixed;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
	    background-image: url('/images/Background/background.jpg');
		background-size: cover;
		filter: brightness(0.3);
		z-index: -102;
		@media (max-width: 600px) {
			filter: brightness(0.2);
			background-position: 0 !important;
		}
	}
	.overlay {
	    position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    pointer-events: none;
		background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 1));
		z-index: -101;
		@media (max-width: 600px) {
			background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1));
		}
	}
	.light {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		z-index: -100;
		background: rgba(0, 0, 0, 0.8);
		@media (max-width: 600px) {
			display: none;
		}
	}
	h1 {
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	#projects[data-astro-cid-j7pv25f6] {
        padding-top: 15vh;
		margin-top: 20vh;
    }
	.grid {
		display: grid; 
  		grid-template-columns: repeat(auto-fit, minmax(10ch, 1fr));
		max-width: 1200px;
		width: 100%;
  		gap: 1em 1em; 
  		grid-template-areas: 
  		  	"Borufi Borufi Borufi SchoolProjects SchoolProjects"
  		  	"TicTacToe TicTacToe TechNews TechNews TechNews";
		@media (max-width: 600px) {
			grid-template-areas: 
				"Borufi"
				"SchoolProjects"
				"TechNews"
				"TicTacToe";
			grid-template-rows: repeat(4, 1fr);
			margin: 0 3px;
		}
	}
	.contact {
		display: flex;
		justify-content: center;
		gap: 5vw;
		flex-wrap: wrap;
	}
	.contact > a {
		text-decoration: none;
		color: white;
		border: 2px solid rgba(72, 72, 72, 1);
		backdrop-filter: blur(4px);
		border-radius: 90pt;
		padding: 0.5rem 5rem;
		text-align: center;
		width: 120px;
		box-shadow: inset 0px 0px 15px 0px rgba(72, 72, 72, 0.5)
	}
	.space-middle {
		padding-top: 30vh;
	}
	.space-start {
		padding-top: 35vh;
		width: 60%;
		@media (max-width: 600px) {
			width: 90%;
			padding-top: 35vh;
		}
	}
	.space {
		padding-top: 50vh;
	}
	.space-end {
		padding: 40vh 0;
		@media (max-width: 600px) {
			padding: 30vh 0;
		}
	}
	footer {
		text-align: center;
		color: white;
		font-size: 24px;
		font-family: Alata, sans-serif;
		margin-bottom: 1rem;
		@media (max-width: 600px) {
			font-size: 16px;
		}
	}
</style>