---
const currentYear = new Date().getFullYear();
---

<footer class="footer-section" id="footer">
	<div class="footer-content">
		<p class="copyright">{currentYear} &copy; Borys Gajewski</p>
		<nav class="footer-links" aria-label="Footer links">
			<a href="mailto:borys.gajewski7@gmail.com">Email</a>
			<a href="https://github.com/lis531/">GitHub</a>
			<a href="https://x.com/Lisu22361857">Twitter</a>
		</nav>
	</div>
</footer>

<style>
	.footer-section {
        background-color: rgba(0, 0, 0, 0.7);
		width: 100%;
		margin-top: 3rem;
		padding: 1rem 1.5rem;
		box-sizing: border-box;
		border-top: 1px solid rgba(255, 255, 255, 0.2);
	}

	.footer-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		flex-wrap: wrap;
	}

	.footer-links {
		display: flex;
		gap: 1.1rem;
		flex-wrap: wrap;
	}

	.footer-links a,
	.copyright {
		margin: 0;
		font-size: 1rem;
		font-family: "Alata";
		color: rgba(255, 255, 255, 0.88);
		text-decoration: none;
	}

	.footer-links a:hover {
		text-decoration: underline;
		color: rgba(255, 255, 255, 0.88);
	}

	@media (max-width: 700px) {
		.footer-section {
			padding: 1rem;
		}

		.footer-content {
			justify-content: center;
		}
	}
</style>
