---
const links = [
    { href: '#home', text: 'Home' },
    { href: '#projects', text: 'Projects' },
    { href: '#contact', text: 'Contact' }
];
---

<nav>
    <div>
        {links.map(link => (
            <a href={link.href}>{link.text}</a>
        ))}
    </div>
</nav>

<style>
    nav {
        top: 5vh;
        position: fixed;
        width: 50vw;
        background-color: rgba(20,20,20,0.6);
        border-radius: 90pt;
        padding: 0.3rem;
        backdrop-filter: blur(7px);
        z-index: 100;
        box-shadow: inset 0px 0px 15px 0px rgba(72, 72, 72, 0.5);
        @media (max-width: 600px) {
            width: 90%;
        }
        @media (max-width: 1200px) {
            width: 80vw;
        }
    }
    div {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    a {
        color: white;
        text-decoration: none;
        border-radius: 90pt;
        margin: 0.5vh 1vw;
        color: rgb(216, 216, 216);
        position: relative;
    }
    a::after {
        content: '';
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        transform: scaleX(0);
        transition: transform 0.3s;
        background: rgb(216, 216, 216);
        bottom: 4px;
    }
    a:hover::after {
        transform: scaleX(1);
    }
</style>