---
const links = [
    { href: '#home', text: 'Home' },
    { href: '#projects', text: 'Projects' },
    { href: '#contact', text: 'Contact' }
];
---

<nav>
    <div>
        {links.map(link => (
            <a href={link.href}>{link.text}</a>
        ))}
    </div>
</nav>

<style>
    nav {
        top: 5vh;
        position: fixed;
        width: 50%;
        background-color: rgba(32, 32, 32, 0.6);
        border-radius: 90pt;
        padding: 0.3rem;
        backdrop-filter: blur(4px);
        z-index: 100;
        box-shadow: inset 0px 0px 15px 0px rgba(72, 72, 72, 0.5);
        @media (max-width: 600px) {
            width: 90%;
        }
    }
    div {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    a {
        color: white;
        text-decoration: none;
        border-radius: 90pt;
        padding: 0.5vh 1vw;
        color: rgba(225, 225, 225, 0.9);
    }
    a:hover {
        text-decoration: underline;
    }
</style>