---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Borys Gajewski portfolio" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.avif" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
	    font-family: 'Alata';
	    src: url('/fonts/Alata.woff2') format('truetype');
	    font-display: swap;
	}
	@font-face {
	    font-family: 'Albert Sans';
	    src: url('/fonts/AlbertSans.woff2') format('truetype');
	    font-display: swap;
	}
	@font-face {
	    font-family: 'Bricolage Grotesque';
	    src: url('/fonts/BricolageGrotesque.woff2') format('truetype');
	    font-display: swap;
	}
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: "Alata",serif;
		background: rgba(0, 0, 0, 1);
	}
	h1 {
		font-family: "Bricolage Grotesque",serif;
		font-size: 96px;
		margin: 0;
		@media (max-width: 600px) {
			font-size: 56px;
		}
		@media (min-width: 1000px) and (max-width: 1920px) {
			font-size: 72px;
		}
	}
	p {
		font-family: "Albert Sans",serif;
		font-weight: 400;
		font-style: normal;
		font-size: 40px;
		text-align: center;
		@media (max-width: 600px) {
			font-size: 22px;
		}
		@media (min-width: 1000px) and (max-width: 1920px) {
			font-size: 28px;
		}
	}
	a {
		font-family: "Alata",serif;
		font-size: 40px;
		text-align: center;
		@media (max-width: 600px) {
			font-size: 22px;
		}
		@media (min-width: 1000px) and (max-width: 1920px) {
			font-size: 24px;
		}
	}
	.animate {
		opacity: 0;
		transform: translateY(100px);
	}
	.hidden {
        opacity: 0;
    }
</style>