---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Borys Gajewski portfolio" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.jpeg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Alata&family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: Alata, sans-serif;
		background: rgba(0, 0, 0, 1);
	}
	h1 {
  		font-family: Bricolage Grotesque, sans-serif;
  		font-weight: 900;
  		font-style: normal;
		font-size: 96px;
		@media (max-width: 600px) {
			font-size: 56px;
		}
	}
	p {
		font-family: Albert Sans, sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 40px;
		text-align: center;
		@media (max-width: 600px) {
			font-size: 22px;
		}
	}
	a {
		font-size: 40px;
		text-align: center;
		@media (max-width: 600px) {
			font-size: 22px;
		}
	}
	.animate {
		opacity: 0;
		transform: translateY(100px);
	}
</style>
